body {
    background-color: #003366;
    color:white;
}
h1{

}
a{
  text-decoration: none;
  color:white;
}

.container-flex-col{
  display:flex;
  flex-direction: column;
  align-items: last baseline;
}
 .container-margin{
  margin-left: auto;
  margin-right: auto;
 }
.container-flex-row{
    display:flex;
    flex-direction: row;
    align-items: center;
}


.container-bloc{
    margin:25px;    
}
.container-xl{
  margin-top: 5%;
}

.container-xxl{
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
  background-color: #001a33;
}
.col{
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
/* CSS carte de visite héros */

 /* Card principale */
 .card {
  width: 100%; /* Occupe toute la largeur de son conteneur */
  max-width: 340px; /* Limite la largeur maximale */
  height: 440px;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
  padding: 20px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
  
  .card:hover {
    box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
  }

  .card-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.alter-ego {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 15px;
}

.card-content {
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
}

.card-content div {
    margin-bottom: 10px;
}

.card-footer {
    margin-top: auto;
    font-size: 12px;
    color: #ddd;
    text-align: center;
}

.hero-image {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  margin-bottom: 15px;
  object-fit: cover;
}
.hero-image-profile {
    width: 500px;
    height: 700px;
    border-radius: 10%;
    margin-bottom: 15px;
    object-fit: cover;
}
  .time-text {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .time-sub-text {
    font-size: 15px;
    margin-left: 5px;
  }
  
  .day-text {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .moon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover > .moon {
    font-size: 23px;
  }
  